*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    background-color: #141d2f;
}


.textColor{
    color:white;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


#toggle{
    display: flex;
    gap: 10px;
}


.inputSection{
    background-color: #1e2a47;
    padding: 40px;
}


.searchButton{
    background-color: #0079ff;
    color: white;
}

.mainBody{
    background-color: #1e2a47;
    padding: 40px;
    display: flex;
    flex-direction: row;
}


.userDetails{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

#details{
    display: flex;
    flex-direction: row;
}