*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
   
}

.body{
    padding: 90px;
    background-color: #141d2f;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.textColor{
    color:white;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


#toggle{
    display: flex;
    gap: 10px;
}



.UserDetailsCard{
   
    display: flex;
    flex-direction: row;
    background-color: #211e41;
    
}


.userImage{
    padding: 40px;

}

.userDetails{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;

   

}

#details{
    display: flex;
    flex-direction: row;
}